@import "../../styles.scss";

.header{
    border-bottom: rgb(173, 173, 173) solid 1px;
    height: $headerHeight;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;

    img {
        height: 4em;
        margin: auto;

        &:hover{
            cursor: pointer;
        }
    }
}
.searchbar{
    margin: auto;
}

 .profil {
    margin: auto;
}